<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Consulta</title>

  <style type="text/css"></style>

  <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>
<form>
  <div class="box">
  	<h1>Contact Form :</h1>
  	<label>
		<span>Full name</span>
		<input class="input_text" name="name" id="name" type="text">
	</label>
	<label>
		<span>Email</span>
		<input class="input_text" name="email" id="email" type="text">
	</label>
	<label>
  		<span>Subject</span>
		<input class="input_text" name="subject" id="subject" type="text">
	</label>
	<label> <span>Message</span>
		<textarea class="message" name="feedback" id="feedback"></textarea>
		<input class="button" value="Submit Form" type="button">
	</label>
   </div>
</form>

</body></html>