<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Consulta</title>

  <style type="text/css"></style>
  {% load staticfiles %}
  <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
  <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

</head>
<body>
<form>
  <div class="box">
  	<h1>Preguntas:</h1>
  	<label>
		<span># de abogados que trabajan en su oficina</span>
		<input class="input_text" name="num_lawyers" id="num_lawyers" type="text">
    <br>
	</label>
	<label>
		<span>&iquest;Cual considera que es el aspecto de su trabajo que mas se podria mejorar?</span>
		<textarea class="message" name="answer1" id="answer1"></textarea>
	</label>
	<label> <span>&iquest;Cual considera que es el aspecto de su trabajo que mas convendria automatizar?</span>
		<textarea class="message" name="answer2" id="answer2"></textarea>
	</label>
    <label>
        <span>e-mail</span>
        <input class="input_text" name="email" id="email" type="text"><br>
        <input class="button" value="Enviar" type="button">
    </label>
   </div>
</form>

</body></html>