<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Status</title>
    {% load staticfiles %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} type="text/css">
    <link rel="stylesheet" href={% static "css/changes.css" %} type="text/css">
    <style type="text/css"></style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="../">Psidium Project</a>
                <div class="nav-collapse" id="main-menu"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span7 well">
                <h1>Status: <span style="color: #DC9B31;">En desarrollo</span></h1>
                Muchas gracias por tu interes.


            </div>
        </div>
    </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>