<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thanks!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} type="text/css">
    <link rel="stylesheet" href={% static "css/changes.css" %} type="text/css">
    <style type="text/css"></style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="../">Psidium Project</a>
                <div class="nav-collapse" id="main-menu"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span7 well">
                <h2>Gracias por participar!</h2>
                <br>
                <h3>Tu aporte es increiblemente valioso para nuestro proyecto</h3>
                <br>
                Si te interesa, y en caso de que nuestra iniciativa resulte en un proyecto que
                resuelva algunas de las inquitudes que nos planteaste nos gustaria tener alguna
                manera de contactarte.
                Para eso tenemos tres opciones:
                <ol>
                    <li>
                        Nos puedes facilitar tu correo electronico, te prometemos que solo te escribiremos una vez en caso de que el proyecto despegue
                        <br>
                        <br>

                        <form class="form-search" method="post">
                            {% csrf_token %}
                            {{ form.email.errors }}
                            {{ form.email }}
                            {# <input type="text" class="input" placeholder="Email">#}
                            <button type="submit" class="btn">Enviar</button>
                        </form>
                    </li>
                    <li>
                        Te puedes subscribir a la cuenta de twitter @proyecto_psidium y asi mantendras el control de
                        tu comunicaicon con nosotros, de nuevo, solo utilizaremos esta cuenta para anunciar el lanzamiento de nuestro proyecto. 0% Spam.
                    </li>
                    <li>
                        Puedes añadir la pagina
                        <a>Status</a>
                        a tus favoritos y revisarla de vez en cuando para
                        saber el status de nuestra iniciativa
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>