{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Gracias" %}
{% endblock title %}

{% block contents %}
    <div class="row">
        <div class="span7 well spaced">
            <h2>{% trans "¡Gracias por participar!" %}</h2>
            <br>
            {% trans "Si te interesa, y en caso de que nuestra iniciativa resulte en un proyecto que resuelva algunas de las inquitudes que nos planteaste, nos gustaría poder contactarte." %}
            <br>
            {% trans "Para eso tenemos tres opciones:" %}
            <ol>
                <li class="spaced">
                    {% trans "Nos puedes facilitar tu correo electrónico (te prometemos que solo te escribiremos una vez en caso de que el proyecto despegue y que nunca lo facilitaremos a ningún tercero)." %}
                    <br>
                    <br>

                    <form class="form-search" method="post" action"">
                        {% csrf_token %}
                        {{ form.email.errors }}
                        {{ form.email }}
                        <button type="submit" class="btn btn-primary">{% trans "Enviar" %} »</button>
                    </form>
                </li>
                <li class="spaced">
                    {% trans "Te puedes subscribir a la cuenta de twitter @psidium_project y asi mantendrás el control de tu comunicación con nosotros. De nuevo, sólo utilizaremos esta cuenta para anunciar el lanzamiento de nuestro proyecto: 0% Spam." %}
                </li>
                <li class="spaced">
                    {% trans "Puedes añadir la página " %}
                    <a href={% url main.views.status %}>Status</a>
                    {% trans " a tus favoritos y revisarla de vez en cuando para saber el status de nuestra iniciativa." %}
                </li>
            </ol>
        </div>
    </div>

{% endblock contents %}